*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL */

.white-box, .grey-box, .blue-box{
  padding: 50px 0px;
  display: flex;
}

.sky-box, .pink-box, .green-box, .plum-box{ /* DA CANCELLARE */
  height: 400px;                
  border: dotted 3px black; 
}

/* HEADER */

header{
  background-color: skyblue;
}

nav{
  padding: 20px 0px;
  background-color: skyblue;
  margin: auto;
  display: flex;
  max-width: 1200px;
  width: 90%;
}

.logo, .nav-links , .login{
  padding: 10px;
  background-color: orange;     /* DA CANCELLARE */
  border: dotted 3px black;     /* DA CANCELLARE */
}

.logo, .login{
  width: 20%;
}

.login{
  text-align: end;
}

.nav-links{
  text-align: center;
  width: 60%;
}

.blue-box{
  background-color: blue;       /* DA CANCELLARE */
}

.plum-box{
  margin: auto;
  max-width: 900px;
  width: 70%;
  background-color: plum;       /* DA CANCELLARE */
}

/* MAIN */

.white-box{
  background-color: white;
}

.grey-box{
  background-color: gray;
}

.section-container{
  display: flex;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.sky-box{                       /* DA CANCELLARE */
  background-color: skyblue;
}

.pink-box{                      /* DA CANCELLARE */
  background-color: pink;
}

.green-box{                     /* DA CANCELLARE */
  background-color: green;
}

.white-box .sky-box{
  width: 70%;
}

.grey-box .sky-box{
  width: 30%;
}

.white-box .pink-box{
  width: 30%;
}

.grey-box .pink-box{
  width: 70%;
}

.green-box{
  width: 100%;
}

/* FOOTER */

footer{
  background-color: black;
}

.footer-links{  
  padding-top: 20px;
  }

.border{
  border-bottom: 1px solid white;
}

.red-box{
  margin-bottom: 50px;
  background-color: red;        /* DA CANCELLARE */
  border: dotted 3px black;     /* DA CANCELLARE */
  height: 400px;                  /* DA CANCELLARE */
  width: 30%;                     /* DA CANCELLARE */
}

.yellow-box{
  margin-bottom: 50px;
  background-color: yellow;     /* DA CANCELLARE */
  width: 70%;
  display: flex;
}

.prodotto, .compagnia, .risorse, .norme{
  background-color: yellow;     /* DA CANCELLARE */
  border: dotted 3px blue;      /* DA CANCELLARE */
  height: 400px;                  /* DA CANCELLARE */
  width: 25%;
}


.purple-box{
  margin-top: 50px;
  background-color: purple;     /* DA CANCELLARE */
  border: dotted 3px black;     /* DA CANCELLARE */
  padding: 60px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo, .footer-button{
  padding: 20px;
  background-color: aqua;       /* DA CANCELLARE */
  border: dotted 3px black;     /* DA CANCELLARE */
}